.hidden {
	display: none;
}

.results-title {
  margin-bottom: 50px;
  margin-top: 40px;
}

header {
  margin-top: 50px;
  margin-bottom: 20px;
}

.js-query {
	font-size: 1.5em;
	margin-bottom: 30px;
}

.filters-label {
	margin-bottom: 5px;
}

button {
	font-size: 1.5em;
}

select {
	margin-bottom: 30px;
}

.results-div {
	margin-bottom: 0px;
	height: 950px;
	border: 1px silver solid;
}

input, label, button {
	display: block;
}

